<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <%- include('common/header') %>
        <h2 style="color: green;">
            <marquee behavior="float" direction="horizontal">Congratulations <%= username %> You are Sucessfully login
            </marquee>
        </h2>
        <center>
            <h1>Welcome To Home Page</h1>
        </center>
</body>

</html>